body{
  background-color:lightblue;
}

.atmContainer{
  border:solid black;
  margin:2em;
  background-color: lightslategrey;
  
}

.atmTitle{
  font-size:98px;
  text-align:center;
  color:blue;
  border:solid white;
  border-width:8px;
}

.atmBody{
  border:solid blue;
  display:flex;
  padding:10px;
  height:41vh;
  margin:.2em;
}
.btnLeftContainer{
  width:20%;
}
.btnRightContainer{
  width:20%;
}
.screen{
  border:solid white;
  color:lemonchiffon;
  border-radius:22px;
  width:60%;
  padding:3em;
  background-color: black;
}

.btnSelector{
  margin:.4em;
  margin-top:6vh;
  text-align:center;
  border:solid black;
  color:white;
  background-color: #333C3F;
}
.btnSelector:hover{
  margin:.2em;
  margin-top:6vh;
  text-align:center;
  border:solid black;
  color:white;
  background-color: green;
}
.keyPad{
  border:solid black;
  height:42vh;
}
.rowOne{
  /* border:solid green; */
  margin:2em;
  height:30px;
  display:flex;
  justify-content: space-evenly;
}
.keys{
  border:solid black;
  border-radius:12px;
  width:80px;
  color:white;
  background-color: #333C3F;
  font-size:22px;
  text-align:center;
}
.keys:hover{
  border:solid black;
  border-radius:12px;
  width:80px;
  color:yellow;
  background-color: #333C3F;
  font-size:22px;
  text-align:center;
}
.cardSlot{
  border:solid black;
  background-color:green;
  margin:3em;
  text-align: center;
  color:white;
}
.cardSlot:hover{
  border:solid black;
  background-color:#333C3F;
  margin:3em;
  text-align: center;
  color:white;
}
.scrn2{
  /* border:solid white; */
  height:45px;
  margin-top: 50%;
}
.balContainer{
  display:flex;
  justify-content: space-evenly;
}