body {
  background-color: lightblue;
  font-family: monospace;
}

.atmContainer {
  border: 5px solid rgba(63, 39, 100, 0.645);
  margin: 2em;
  background-color: #778899;
  margin: auto;
  max-width: 900px;
}
@media (min-width: 929px) {
  .atmContainer {
    /* --minFontSize: 0.8em;
    --maxFontSize: 1.2em;
    --scaler: 4vw;
    font-size: 1.3em; fallback if clamp fails
    font-size: clamp(var(--minFontSize), var(--scaler), var(--maxFontSize)); */
    /* max-width: 70%;
     */
    /* width: 100em; */
  }
}
@media (min-width: 561px) {
  .atmContainer {
    /* max-width: 70%; */
    margin: auto;
  }
}
@media (max-width: 560px) {
  .atmContainer {
    width: 100%;
    margin: auto;
  }
}

/* major (top-level) divisions */
.atmTitle {
  position: relative;
  font-size: 8vh;
  text-align: center;
  letter-spacing: 1em;
  padding-left: 1em;
  color: hsl(131, 100%, 45%);
  border: inset #232f;
  border-bottom: solid black;
  border-width: 4px;
  filter: blur(1.9px);
  transform: scale(101%);
  top: -4px;
  height: 10vh;
}

.atmBody {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  justify-content: space-around;
  gap: 10px;
  /* border: solid blue; */
  padding: 1em 2em 1em 2em;
  height: 35vh;
  margin: 0.2em;
}

.balContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.3em;
  background-color: inherit;
  filter: brightness(80%);
  height: 5vh;
  border-top: solid #fff9;
  border-bottom: solid #fff9;
}

.divKeys {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 39vh;
  padding: 0 0 1em 0;
}
/* end major divisions */


/* atmBody direct descendants */
.btnLeftContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.screen {
  border: solid white;
  color: lemonchiffon;
  border-radius: 22px;
  padding: 3em;
  text-align: left;
  background-image: url("./images/ATM.jpg");
  background-color: #333c3f;
  margin: 0 0 .5em 5px;
  filter: grayscale(50%) opacity(50%);
  overflow-y: hidden;
}

.btnRightContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}
/* end atmBody direct descendants */

.screenInside {
  height: 90%;
  filter: opacity(150%);
  overflow-y: hidden;
}

.atmBody button {
  user-select: none;
  align-items: flex-start;
  margin: 0.4em;
  margin-top: 6vh;
  text-align: center;
  font-weight: bold;
  border: solid #0004;
  color: #000a;
  background-color: #8090a0;
  border-radius: 8px;
  height: 2.5em;
}
.atmBody button:hover {
  cursor: pointer;
  text-align: center;
  filter: hue-rotate(90deg);
  transform: scale(101%);
}
.atmBody button:active {
  filter: blur(2px) saturate(150%);

}


.keyPad {
  display: grid;
  grid: 1.5em 1.5em 1.5em / repeat(3, 80px);
  gap: 2em;
  row-gap: 3em;
  padding: 1em;
  border: solid #1116;
  background-color: #779999;
  margin: 2em 0 0 0;
}

.keys {
  border: solid black;
  border-radius: 12px;
  width: 80px;
  height: 2.8em;
  color: white;
  background-color: #333c3f;
  text-align: center;
}
.keys:hover {
  filter: brightness(200%);
  /* drop-shadow(2px 2px #449); */
}
.keys:active {
  size: 120%;
  border-color: #0000; /*invisible border that doesn't change the box size*/
  filter: blur(3px) brightness(150%);
  /* transform: scale(110%); */
}

.cardSlot {
  border: solid #0004;
  background-color: #77aa9944;
  margin: 1em;
  width: 40%;
  height: 1.8em;
  line-height: 1.8em;
  text-align: center;
  color: white;
}
  .cardSlot:hover {
  cursor: pointer;
  border: solid black;
  background-color: #333c3f;
  /* margin: 3em; */
  text-align: center;
  color: white;
}
.cardSlot:active {
  filter: opacity(50%);
}



hr {
  display: none;
  margin: 0;
}

.acctnVal {
  color: hsl(51, 100%, 50%);
}
