.atmContainer {
  border: solid blue;
  height: 82vh;
  margin: 1em;
  background-color: lightgray;
  padding: 1em;
}

.atmTitle {
  border: solid blue;
  font-size: 82px;
  text-align: center;
  color: blue;
  background-color: white;
}

.atmBody {
  display: flex;
  justify-content: space-evenly;
}

.btnLeft {
  border: solid yellow;
  height: 230px;
  width: 20%;
}

.screen {
  height: 230px;
  width: 60%;
  border: solid black;
  background-color: black;
}

.btnRight {
  height: 230px;
  width: 20%;
  border: solid orange;
}